<header class="container header">
  <img id="burgerImg" src="assets/images/burger2.png" alt="BurgerImg" style="max-height:200px; ">
  {{!-- <h1>Eat-Da-Burger!</h1> --}}
</header>


<div class="mainContainer container">


  <section class="container contentContainer orderBurger">

    <div class="row">
      <div class="col">

        <h3>Order a Burger!</h3>

        <div class="insideContainer">

          <form action="/" method="POST">
            <div class="form-group">
              <label for="burgerName" class="mb-0"><h5>Burger Name:</h5></label>
              <div class="input-group">
              <input type="text" class="form-control" name="burger_name" id="burgerInput">
              <input type="hidden" name="devoured" value="0">
               <div class="input-group-append">
              <button class="submit-button btn m-0 px-3 py-1 z-depth-0 waves-effect" type="submit">Place Order!</button>
              </div>
              </div>
            </div>

            {{!-- <button class="submit-button btn btn-info btn-lg" type="submit">Place Order!</button> --}}

            
          </form>

        </div>
      </div>
    </div>

  </section>


  <section class="container contentContainer displayBurgers">
    <div class="row">


      <div class="col-md-6 readyToEat">
        <h3>Ready to eat!</h3>
        <div class="insideContainer">

          {{#each burgers}}
          {{#unless devoured}}
          <!-- Card -->
          <div class="card">
            <div class="card-body">


              <div class="burger"><img src="/assets/images/burgerIcon.png" style="height:70px; width:70px;"></div>
              <h5 class="card-title title">{{this.id}}. {{this.burger_name}}</h5>
              
              
              <!--Devour burger button-->
              <form method="POST" action="/{{this.id}}?_method=PUT">
                <input type="hidden" name="devoured" value="1">
                <button class="btn btn-success devour-button burgers" type="submit">Devour it!</button>
              </form>

            </div>
          </div>
          <!-- Card -->
          {{/unless}}
          {{/each}}
         
        </div>
        <!--end of ready to eat inside container--->
      </div>
      <!--end of ready to eat col--->


      <div class="col-md-6 beenDevoured">
        <h3 class="devouredTitle">Devoured!</h3>
        <div class="insideContainer">

          {{#each burgers}}
          {{#if devoured}}
          <!-- Card -->
          <div class="card">
            <div class="card-body">
              <div class="burger"><img src="/assets/images/burgerIcon.png" style="height:70px; width:70px;"></div>
              <h5 class="card-title">{{this.id}}. {{this.burger_name}}</h5>
              
              <!--Throw away burger button-->
            <form action="/{{this.id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger delete-button burgers" type="submit"><i class="far fa-trash-alt"></i> Throw away!</button>
              </form>

            </div>
          </div>
          <!-- Card -->
          {{/if}}
          {{/each}}

        </div>
        <!--end of devoured inside container--->
      </div>
      <!--end of devoured col--->



    </div>
    <!--end of displayburgers row--->

  </section>
  <!--end of displayburgers section--->


  <div class="container footer">
<form action="https://github.com/reneehickman/burger" id="github">
    <button type="submit" value="GitHub Repo" class="btn btn-info btn-sm">Github Repo</button>
</form>
</div>

</div>
<!--end of mainContainer--->


